<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.cricin.filepicker">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application>
    <activity
      android:name=".internal.FilePickerActivity"
      android:screenOrientation="portrait"/>
  </application>

</manifest>
